body{
    padding:20px;
}

.kartica{
    background-color: lightblue;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border-left: 5px solid black;
}

.font{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: red;
}